.card {
  height: 100%;
  &__wrapper {
    height: 100%;
    padding: 3rem;
    // border: $border;
    border-radius: $border-radius-card;
    background-color: $base-color;
    box-shadow: $card-shadow;
  }
}
