.dropdown {
  position: relative;
  max-height: 4.1rem;
  width: 100%;
  font-family: $font-geist-sans;
  font-size: $font-xs;
  font-weight: $font-regular;

  &__selected {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: $input-padding;
    border: $border;
    border-radius: $border-radius-ui;
    box-shadow: $ui-shadow;
    background: white;
    cursor: pointer;

    &--open {
      border-width: 1px;
      border-color: $base-dark-color;
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $base-color;
    border: $border;
    border-radius: $border-radius-ui;
    box-shadow: $ui-shadow;
    list-style: none;
    padding: 0.4rem;
    margin: 5px 0;
    z-index: 10;
  }

  &__option {
    border-radius: 5px;
    padding: 0.7rem 0.8rem;
    cursor: pointer;

    &:hover {
      background-color: $zinc-100;
    }
  }
}
