.categories-section {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__link {
    transition: $transition;
    border-radius: $border-radius-card;

    &:hover {
      transform: scale(1.025);
      box-shadow: $card-shadow;
      transition: $transition;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    // text-align: center;
  }

  &__more {
    margin: 0 auto;
  }

  &__img {
    max-width: 15rem;
    width: 100%;
    height: auto;
  }
}
