.new-section {
  &__wrapper {
    max-width: $max-width-secondary;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &-buttons {
      display: flex;
      gap: 1rem;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__image {
    max-width: 20rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    border: $border;
    border-radius: $border-radius-card;
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $gap-bw-fields;

    &-blocks {
      display: flex;
      gap: $gap-bw-fields;
    }

    &-block {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
