.favorite-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 10rem;
  color: $zinc-400;
  background-color: $base-color;
  border: $border-primary;
  right: 0.7rem;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $zinc-100;
  }

  &__icon {
    transition: $transition;

    &:hover {
      fill: $zinc-400;
      transition: $transition;
    }
  }
}
