.favorite-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 10rem;
  color: $base-color;
  background-color: $primary-color;
  right: 0.7rem;
  cursor: pointer;
  transition: $transition;

  &__icon {
    transition: $transition;

    &:hover {
      color: $primary-color;
      fill: red;
      transition: $transition;
    }
  }
}
