.header {
  background-color: $base-color;
  border-bottom: 1px solid #eaecf5;

  &__wrapper {
    font-family: $font-geist-mono;
    font-size: $font-xs;
    color: $base-dark-color;
  }

  &__top {
    max-width: $max-width;
    padding: 1rem 3rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: $font-xxs;
  }

  &__line {
    height: 0.1rem;
    margin: 1rem 0;
    background-color: rgb(71, 71, 71);
  }

  &__bottom {
    padding: 0 3rem;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__actions {
    display: flex;
  }
}
