.avatar {
  padding: $button-padding;
  background-color: #d97706;
  border-radius: $border-radius-ui;
  transition: $transition;
  
  &:hover {
    opacity: $opacity;
    transition: $transition;
  }

  &__wrapper {
  }

  &__letter {
    color: $base-color;
  }
}
