.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.1rem;
  width: 4.1rem;
  background-color: $base-color;
  border-radius: 100rem;
  transition: $transition;

  &:hover {
    opacity: $opacity;
    transition: $transition;
  }

  &__wrapper {
  }

  &__letter {
    font-weight: $font-semibold;
    font-size: 1.6rem;
    color: $base-dark-color;
  }
}
