.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.1rem;
  width: 4.1rem;
  background-color: #d97706;
  border-radius: 100rem;
  transition: $transition;
  
  &:hover {
    opacity: $opacity;
    transition: $transition;
  }

  &__wrapper {
  }

  &__letter {
    color: $base-color;
  }
}
