.equipment-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  &--small {
    grid-template-columns: repeat(3, 1fr);
  }

  &--horizontal {
    display: flex;
    flex-direction: column;
  }
}
