.dashboard-layout {
  display: flex;
  gap: 3rem;

  &__sidebar {
    max-width: 25rem;
    width: 100%;
  }

  &__content {
    width: 100%;
  }
}

.content {
  &__card {
    max-width: 126.5rem;
    width: 100%;
  }
}
