.textarea {
  width: 100%;
  height: 100%;
  padding: $input-padding;
  border: $border;
  border-radius: $border-radius-ui;
  font-family: $font-geist-sans;
  font-size: $font-xs;
  font-weight: $font-regular;
}
