.carousel-card {
  position: relative;

  &__title {
    display: none;
  }

  &__image {
    border-radius: $border-radius-card;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    z-index: 1000;
    border: $border;
    border-radius: $border-radius-ui;
  }

  &--secondary {
    .carousel-card {
      &__title {
        display: unset;
      }

      &__image {
        object-fit: unset;
      }
    }
  }
}
