.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3.6rem !important;
  padding: 0.8rem 1.3rem;
  border: none;
  border-radius: $border-radius-ui;
  font-family: $font-geist-sans;
  font-size: $font-xs;
  font-weight: $font-medium;
  color: $base-color;
  transition: $transition;
  cursor: pointer;

  &__icon {
    display: flex;
  }

  &--default {
    color: $light-dark-color;
    background-color: $base-dark-color;

    &:hover {
      color: $base-color;
    }

    &--active {
      background-color: $base-color;
      color: $base-dark-color;

      &:hover {
        color: $base-dark-color;
      }
    }
  }

  &--dark {
    color: $base-color;
    background-color: $base-dark-color;

    &:hover {
      opacity: 80%;
    }
  }

  &--light {
    background-color: $zinc-50;
    color: $base-dark-color;

    &:hover {
      opacity: 90%;
    }
  }

  &--outlined {
    padding: 0.4rem 1.3rem;
    background-color: $base-color;
    border: $border;
    color: $base-dark-color;
    box-shadow: $ui-shadow;

    &:hover {
      background-color: $zinc-200;
    }
  }

  &--green {
    background-color: $green-700;

    &:hover {
      opacity: 90%;
    }
  }

  &--underlined {
    all: unset;
    height: auto !important;
    text-underline-offset: 4px;
    text-decoration-line: underline;
    cursor: pointer;
  }
}
