.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-height: 3.7rem;
  padding: $button-padding;
  border: none;
  border-radius: $border-radius-ui;
  font-family: $font-geist-sans;
  font-size: $font-xs;
  font-weight: $font-medium;
  color: $base-color;
  transition: $transition;
  cursor: pointer;

  &__loading {
    opacity: 0.5;
  }

  &__icon {
    display: flex;
  }

  &--default {
    color: $base-color;
    background-color: $primary-color;

    &:hover {
      opacity: $opacity;
    }

    // &--active {
    // background-color: $base-color;
    // color: $base-dark-color;

    //   &:hover {
    //     color: $base-dark-color;
    //   }
    // }
  }

  &--dark {
    color: $base-color;
    background-color: $base-dark-color;

    &:hover {
      opacity: 80%;
    }
  }

  &--light {
    background-color: $base-color;
    color: $zinc-500;

    &:hover {
      background-color: $zinc-100;
    }

    &:focus {
      background-color: $zinc-200;
      color: $zinc-950;
    }
  }

  &--outlined {
    // padding: 0.4rem 1.3rem;
    background-color: $base-color;
    border: $border;
    border-width: 1px;
    color: $base-dark-color;
    // box-shadow: $ui-shadow;

    &:hover {
      background-color: $zinc-100;
    }
  }

  &--underlined {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: auto !important;
    text-underline-offset: 4px;
    text-decoration-line: underline;
    cursor: pointer;
  }

  &--start {
    justify-content: flex-start;
  }

  &--secondary {
    background-color: $secondary-color;
    color: $base-color;
    font-weight: $font-semibold;

    &:hover {
      opacity: 0.7;
    }
  }

  &--rounded {
    color: black;
    background-color: white;
    padding: 0;
    border-radius: 100rem;
  }

  &--danger {
    background-color: rgb(255, 227, 227);
    color: $danger-color;
    // border: 1px solid $danger-color;

    &:hover {
      background-color: rgb(255, 213, 213);
    }
  }

  &--success {
  }
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__email {
    font-family: $font-geist-sans;
    font-weight: $font-regular;
    color: $light-dark-color;
  }
}

.logout {
  &__button {
    background-color: $base-color;
    border: none;
    font-family: $font-geist-sans;
    font-size: $font-xs;
    color: red;
    cursor: pointer;
  }
}
