.equipment-card {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background-color: $base-color;
    border-radius: $border-radius-card;
    box-shadow: $box-shadow-primary;
    border: $border-primary;
    font-family: $font-gilroy;
    transition: $card-transition;

    &:hover {
      box-shadow: $card-shadow;
      transform: translateY(-2px);
      transition: $card-transition;
    }
  }

  &__badges {
    position: absolute;
    display: flex;
    gap: 0.5rem;
  }

  &__image {
    max-height: 22.5rem;
    height: 100%;
    max-width: 22.5rem;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: $border-radius-ui;
  }

  &__price {
    color: $base-dark-color;
    font-weight: $font-bold;
    font-size: $font-xm;
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__available {
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 6rem 1fr;
    gap: 0.5rem;
  }
}
