.equipment-card {
  background-color: white;
  &__wrapper {
    // position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.8rem;
    background-color: $base-color;
    border-radius: $border-radius-card;
    // box-shadow: $box-shadow-primary;
    border: $border-primary;
    font-family: $font-gilroy;
    transition: $card-transition;

    &:hover {
      transform: translateY(-2px);
      transition: $card-transition;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
    top: 2.3rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
    padding: 0.8rem;
    max-width: 30.5rem;
    max-height: 13.5rem;
    height: 100%;
    width: 100%;
    background-color: $base-color;
    border: $border-primary;
    border-radius: $border-radius-ui;
  }

  &__badges {
    position: absolute;
    display: flex;
    gap: 0.5rem;
  }

  &__image-container {
    height: 100%;
    width: 100%;
    max-height: 20rem;
  }

  &__image {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    margin-bottom: 2rem;
    // border: $border-primary;
    border-radius: $border-radius-ui;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $base-dark-color;
    font-weight: $font-bold;
    font-size: $font-xm;
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__available {
    margin-bottom: 1rem;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  &__line {
    margin: 1rem 0;
  }

  &--wide {
    &__wrapper {
    }
  }
}
