.navigation {
  color: $base-color;
  font-family: $font-geist-sans;
  font-weight: $font-medium;
  font-size: $font-xs;

  &__list {
    display: flex;
    gap: 0.5rem;
  }

  &__item {
    background-color: $base-dark-color;
  }

  &__link {
    color: $base-color;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: $input-padding;
    border-radius: $border-radius-ui;
    background-color: transparent;
    color: $light-dark-color;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $base-color;
    }

    &--active {
      background-color: $base-color;
      color: $base-dark-color;

      &:hover {
        color: $base-dark-color;
      }
    }
  }
}
