@import '@/scss/variables.scss';

.navigation {
  color: $light-color;
  font-size: $font-sm;

  &__list {
    display: flex;
    gap: 0.5rem
  }

  &__item {
    background-color: $dark-color;
  }

  &__link {
    color: $light-color;
  }
}
