.profile-sidebar {
  background-color: $base-color;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  &-list {
    display: flex;
    flex-direction: column;

    &__title {
      margin-left: 1rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem;
      border: $border-primary;
      border-radius: $border-radius-card;
    }

    &__route {
      display: flex;
      align-items: center;
      gap: 1rem;
      max-height: 3.7rem;
      padding: 1.15rem 1.5rem;
      border-radius: $border-radius-ui;
      transition: $transition;
      color: $base-dark-color;
      font-family: $font-geist-sans;
      font-size: $font-xs;
      font-weight: $font-medium;

      &:hover {
        background-color: $secondary-color;
        opacity: 0.9;
        color: $base-color;
      }

      &--active {
        background-color: $secondary-color;
        color: $base-color;
      }
    }
  }
}
