@import '@/scss/variables';

.buttonLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.3rem;
  border-radius: 100rem;
  background-color: $dark-color;
  font-size: $font-xs;
  font-weight: 500;
  color: $light-dark-color;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: $light-color;
  }

  &--active {
    background-color: $light-color;
    color: $dark-color;

    &:hover {
      color: $dark-color;
    }
  }
}
