.header {
  background-color: $base-dark-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
    padding: 1.4rem 4rem;
    font-family: $font-geist-mono;
  }

  &__logo {
    margin-right: 5rem;
    font-weight: 600;
    font-size: $font-sm;
    color: $base-color;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
