.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 4rem;
  background-color: $base-dark-color;
  font-family: $font-geist-mono;

  &__logo {
    margin-right: 5rem;
    font-weight: 600;
    font-size: $font-sm;
    color: $base-color;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
}
