.profile-deals {
  &--empty {
    .profile-deals__wrapper {
      display: flex;
      justify-content: center;
      padding: 2rem;
      border: $border-primary;
      border-radius: $border-radius-card;
    }
  }

  &__tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
