.input {
  padding: 0.4rem 1.2rem;
  width: 100%;
  height: 3.6rem;
  box-shadow: $ui-shadow;
  border: $border;
  border-radius: $border-radius-ui;
  font-family: $font-geist-sans;
  font-size: $font-xs;
  font-weight: $font-regular;

  &:focus {
    background-color: red;
  }
}
