.input {
  padding: $input-padding;
  width: 100%;
  box-shadow: $ui-shadow;
  border: $border;
  border-radius: $border-radius-ui;
  font-family: $font-geist-sans;
  font-size: $font-xs;
  font-weight: $font-regular;
}
