.title-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-sm;
  transition: $transition;
  transition: $card-transition;

  &:hover {
    transform: translateX(5px);
    transition: $card-transition;
  }
}
