.chat-message {
  &__wrapper {
    width: 100%;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  &__content {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    max-width: 60%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: $border-radius-ui;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.4rem;
  }

  &__footer-container {
    display: flex;
    gap: 1rem;
  }

  &--my {
    .chat-message__container {
      justify-content: flex-end;
    }

    .chat-message__content {
      // flex-direction: row-reverse;
      text-align: left;

      .chat-message__info {
        min-width: 20rem;
        background-color: rgb(193, 193, 255) !important;
      }
    }
  }

  &--other {
    .chat-message__container {
      justify-content: flex-start;
    }

    .chat-message__content {
      flex-direction: row;
      text-align: left;

      .chat-message__info {
        background-color: $zinc-100;
      }
    }
  }
}
