@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.dropdown {
  position: relative;
  width: 100%;
  font-family: $font-geist-sans;
  font-size: $font-xs;
  font-weight: $font-regular;

  &__selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $input-padding;
    border: $border;
    border-radius: $border-radius-ui;
    background: white;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;

    &--open {
      border-width: 1px;
      border-color: $base-dark-color;
    }
  }

  &__list {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background: $base-color;
    border: $border;
    border-radius: $border-radius-ui;
    box-shadow: $card-shadow;
    list-style: none;
    padding: 0.4rem;
    margin: 5px 0;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    max-height: 20rem;
    overflow-y: scroll;

    &--open {
      animation: dropdownFadeIn 0.15s ease-in-out forwards;
      pointer-events: auto;
    }

    &--closed {
      animation: dropdownFadeOut 0.15s ease-in-out forwards;
      pointer-events: none;
    }
  }

  &__option {
    padding: 0.7rem 0.8rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    border-radius: 5px;

    &:hover {
      background-color: $zinc-100;
    }
  }

  &__message {
    font-weight: $font-medium;
  }
}
