.profile {
  &__wrapper {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 3rem;
    max-width: $max-width-secondary;
    margin: 0 auto;
    padding: 2rem;
    border-radius: $border-radius-card;
    box-shadow: $card-shadow;
    background-color: $base-color;
  }

  &-section {
    &__title {
      margin-bottom: 3rem;
    }

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__credentials {
      display: flex;
      flex-direction: column;
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
