.badge {
  width: max-content;
  padding: 0.5rem 1.5rem;
  border-radius: $badge-radius;
  border: $border-primary;
  background-color: $base-color;
  font-weight: $font-medium;
  font-size: $font-xxs;

  &--dark {
    color: $base-dark-color;
  }

  &--sell {
    background-color: rgb(227, 239, 254);
    color: blue;
  }

  &--light {
    background-color: $base-color;

    .badge__text {
      color: $base-dark-color;
    }
  }

  &--rent {
    background-color: rgb(255, 245, 226);
    color: $primary-color;
  }

  &--success {
    background-color: rgb(236, 255, 236);
    color: green;
  }

  &--warning {
    background-color: lightyellow;
    color: $primary-color;
  }

  &--error {
    background-color: rgb(254, 235, 235);
    color: red;
  }
}
