.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-height: 4.1rem;
  padding: $button-padding;
  border: none;
  border-radius: $border-radius-ui;
  font-family: $font-geist-sans;
  font-size: $font-xs;
  font-weight: $font-medium;
  color: $base-color;
  transition: $transition;
  cursor: pointer;

  &__icon {
    display: flex;
  }

  &--default {
    color: $base-color;
    background-color: #7e90e4;

    &:hover {
      opacity: $opacity;
    }

    // &--active {
      // background-color: $base-color;
      // color: $base-dark-color;

    //   &:hover {
    //     color: $base-dark-color;
    //   }
    // }
  }

  &--dark {
    color: $base-color;
    background-color: $base-dark-color;

    &:hover {
      opacity: 80%;
    }
  }

  &--light {
    background-color: $base-color;
    color: $zinc-500;

    &:hover {
      background-color: $zinc-100;
    }

    &:focus {
      background-color: $zinc-200;
      color: $zinc-950;
    }
  }

  &--outlined {
    // padding: 0.4rem 1.3rem;
    background-color: $base-color;
    border: $border;
    color: $base-dark-color;
    box-shadow: $ui-shadow;

    &:hover {
      background-color: $zinc-100;
    }
  }

  &--green {
    background-color: $green-700;

    &:hover {
      opacity: $opacity;
    }
  }

  &--underlined {
    all: unset;
    height: auto !important;
    text-underline-offset: 4px;
    text-decoration-line: underline;
    cursor: pointer;
  }

  &--rounded {
    // padding: 0.9rem;
    background-color: $green-700;
    border-radius: $border-rounded;

    &:hover {
      opacity: $opacity;
    }
  }

  &--start {
    justify-content: flex-start;
  }

  &--new {
    background-color: #ecedff;
    color: #7e90e4;
    font-weight: $font-semibold;

    &:hover {
      background-color: #dddefb;
    }
  }
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__email {
    font-family: $font-geist-sans;
    font-weight: $font-regular;
    color: $light-dark-color;
  }
}
