.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  height: 3.7rem;
  width: 3.7rem;
  background-color: $primary-color;
  border-radius: 100rem;
  transition: $transition;

  &:hover {
    opacity: $opacity;
    transition: $transition;
  }

  &__letter {
    font-weight: $font-semibold;
    font-size: 1.6rem;
    color: $base-color;
  }
}
