.avatar {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    height: 3.7rem;
    width: 3.7rem;
    background-color: $secondary-color;
    border-radius: 100rem;
    transition: $transition;

    &:hover {
      opacity: $opacity;
      transition: $transition;
    }

    &--big {
      width: 4.8rem;
      height: 4.8rem;

      .avatar__letter {
        font-size: 2rem;
      }
    }

    &--profile {
      width: 14rem;
      height: 14rem;

      .avatar__letter {
        font-weight: $font-semibold;
        font-size: 5rem;
        color: $base-color;
      }

      .avatar__upload {
        cursor: pointer !important;
        display: flex;
      }
    }
  }

  &__link {
    position: relative;
  }

  &__load {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: $border-primary;
    border-radius: 100rem;
    background-color: $base-color;
    height: 3rem;
    width: 3rem;

    &:hover {
      background-color: $zinc-100;
    }
  }

  &__button {
    cursor: pointer !important;
  }

  &__input {
    cursor: pointer !important;
  }

  &__image {
    border-radius: 100rem;
    border: 0;
  }

  &__letter {
    font-weight: $font-semibold;
    font-size: 1.6rem;
    color: $base-color;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}
