@import './variables';

html {
  font-size: 62.5%;
}

body {
  background-color: $base-color;
  font-family: $font-geist-sans;
  font-weight: $font-medium;
  font-size: $font-sm;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  border-radius: 2.5rem 2.5rem 0 0;
  min-height: calc(100vh - 6.9rem);
  height: 100%;
  margin: 0 auto;
  background-color: $base-color;
}

.main__wrapper {
  min-height: calc(100vh - 6.9rem);
  height: 100%;
  margin: 0 auto;
  max-width: $max-width;
  padding: $padding-xl;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

h1 {
  font-family: $font-gilroy;
  font-size: $font-lg;
  font-weight: $font-bold;
  color: $base-dark-color;
}

h2 {
  font-family: $font-gilroy;
  font-size: $font-md;
  font-weight: $font-semibold;
  color: $base-dark-color;
}

h3 {
  font-family: $font-gilroy;
  font-size: $font-sm;
  font-weight: $font-medium;
  color: $base-dark-color;
}

p {
  font-family: $font-geist-sans;
  font-weight: $font-regular;
  font-size: $font-xs;
  color: $base-dark-color;
}

hr {
  border: $border;
  margin: 2rem 0;
}
