@import './variables';

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  // background-color: $base-dark-color;
  font-family: $font-geist-sans;
  font-weight: 300;
  font-size: $font-sm;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: $max-width;
  height: calc(100vh - 6rem);
  margin: 0 auto;
  padding: 2rem 4rem;
  // border-radius: 2.5rem 2.5rem 0 0;
  background-color: $base-color;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

h1 {
  font-size: $font-lg;
  font-weight: $font-semibold;
}

p {
  font-weight: $font-regular;
  font-size: $font-xs;
  color: $base-dark-color;
}
