@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  font-size: 62.5%;
}

body {
  background-color: white;
  font-family: var(--font-geist-sans);
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  border-radius: 2.5rem 2.5rem 0 0;
  min-height: calc(100vh - 6.9rem);
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

.main__wrapper {
  min-height: calc(100vh - 6.9rem);
  height: 100%;
  margin: 0 auto;
  max-width: 1480px;
  padding: 3rem;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-gilroy);
  font-size: 2.4rem;
  font-weight: 700;
  color: #030612;
}

h2 {
  font-family: var(--font-gilroy);
  font-size: 1.8rem;
  font-weight: 600;
  color: #030612;
}

h3 {
  font-family: var(--font-gilroy);
  font-size: 1.6rem;
  font-weight: 500;
  color: #030612;
}

p {
  font-family: var(--font-geist-sans);
  font-weight: 400;
  font-size: 1.4rem;
  color: #030612;
}

hr {
  border: 1px solid #e5e7eb;
  margin: 2rem 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile__wrapper {
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 3rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1.6rem;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  background-color: white;
}
.profile-section__title {
  margin-bottom: 3rem;
}
.profile-section__header {
  display: flex;
  justify-content: space-between;
}
.profile-section__credentials {
  display: flex;
  flex-direction: column;
}
.profile-section__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.new-section__wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.new-section__header {
  display: flex;
  justify-content: space-between;
}
.new-section__header-buttons {
  display: flex;
  gap: 1rem;
}
.new-section__cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.new-section__image {
  max-width: 20rem;
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 1.6rem;
  margin-bottom: 2rem;
}
.new-section__form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.new-section__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.new-section__info-blocks {
  display: flex;
  gap: 2rem;
}
.new-section__info-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-section__wrapper {
  display: flex;
  flex-direction: column;
}
.catalog-section__title {
  margin-bottom: 3rem;
}
.catalog-section__link {
  transition: all 0.1s ease-in-out;
  border-radius: 1.6rem;
}
.catalog-section__link:hover {
  transform: scale(1.025);
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  transition: all 0.1s ease-in-out;
}
.catalog-section__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.catalog-section__img {
  max-width: 15rem;
  width: 100%;
  height: auto;
}

.catalog-slug__wrapper {
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 2rem;
}
.catalog-slug__filters-title {
  margin-bottom: 2rem;
}
.catalog-slug__brands {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.catalog-slug__prices {
  display: flex;
  gap: 1rem;
}

.product-slug__wrapper {
  display: flex;
  flex-direction: column;
}
.product-slug__h1 {
  margin-bottom: 3rem;
}
.product-slug__cards {
  display: grid;
  grid-template-columns: 1fr 40rem;
  gap: 3rem;
}
.product-slug__images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-slug__img {
  max-width: 40rem;
  width: 100%;
  max-height: 40rem;
  height: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 1.6rem;
  padding: 1rem;
}
.product-slug__img--small {
  max-width: 8rem;
  height: 100%;
  max-height: 8rem;
  width: 100%;
  margin: 0 4rem 0 2rem;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  cursor: pointer;
}
.product-slug__img--small:hover {
  border: 2px solid #7e90e4 !important;
}
.product-slug__info {
  display: flex;
}
.product-slug__info-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-slug__row {
  display: flex;
  gap: 1rem;
}
.product-slug__dates {
  display: flex;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}
.product-slug__date {
  display: flex;
  justify-content: center;
  width: 4.1rem;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  cursor: pointer;
}
.product-slug__price {
  font-size: 2.8rem;
  color: white;
  border-radius: 1rem;
}
.product-slug__price-rate {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #ecedff;
  color: #7e90e4;
}
.product-slug__button {
  margin-top: 2rem;
}
.product-slug__total {
  padding: 1.2rem;
  margin-bottom: 2rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
}
.product-slug__line {
  border: 1px solid #e5e7eb;
  margin-bottom: 1rem;
}
.product-slug__tabs {
  display: flex;
  gap: 1rem;
}
.product-slug__tab {
  padding: 1.15rem 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  background-color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-family: var(--font-geist-sans);
  font-weight: 500 !important;
  cursor: pointer;
}
.product-slug__tab--active {
  background-color: #030612;
  border: none;
  color: white;
}
.product-slug__text {
  font-size: 1.6rem;
}

.home-section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.home-section__title {
  margin-bottom: 3rem;
}
.home-section__equipments {
  display: flex;
  gap: 1rem;
}

.equipment-card__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid rgba(41, 71, 163, 0.1294117647);
  font-family: var(--font-gilroy);
  transition: all 0.3s ease;
}
.equipment-card__wrapper:hover {
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.equipment-card__badge {
  position: absolute;
}
.equipment-card__badges {
  display: flex;
  gap: 0.5rem;
}
.equipment-card__image {
  max-height: 27rem;
  height: 100%;
  max-width: 27rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.equipment-card__price {
  color: #030612;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.equipment-card__description {
  margin-bottom: 1rem;
}
.equipment-card__available {
  margin-bottom: 1rem;
}
.equipment-card__buttons {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 0.5rem;
}

.equipment-list {
  display: flex;
  gap: 2rem;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
}

.search-modal {
  background: white;
  border-radius: 8px;
  width: 600px;
  padding: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.search-modal__results {
  margin-top: 12px;
  max-height: 300px;
  overflow-y: auto;
}
.search-modal__results ul {
  list-style: none;
  padding: 0;
}
.search-modal__results ul li {
  padding: 8px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.search-modal__results ul li:hover {
  background: #f9f9f9;
}

.category {
  width: 100%;
}
.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.category-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(41, 71, 163, 0.1294117647);
  border-radius: 1.6rem;
  transition: all 0.3s ease;
}
.category-card:hover {
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.category-card:nth-child(5), .category-card:nth-child(18) {
  grid-column: span 2;
}
.category-card:nth-child(5) .category-card__image-container, .category-card:nth-child(18) .category-card__image-container {
  display: flex;
  justify-content: end;
  max-width: 100%;
}
.category-card:nth-child(5) .category-card__image, .category-card:nth-child(18) .category-card__image {
  max-width: 400px;
}
.category-card__image-container {
  display: flex;
  justify-content: end;
  max-height: 200px;
  width: 100%;
  height: 100%;
}
.category-card__image {
  max-height: 200px;
  max-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
}
.category-card__info {
  position: absolute;
  z-index: 100;
  max-width: 200px;
  padding: 2rem;
  padding-bottom: 0;
}
.category-card__info > h3 {
  margin-bottom: 0;
}

.navigation {
  display: flex;
  gap: 2.4rem;
  height: 6.7rem;
  max-width: 70rem;
  width: 100%;
  color: #030612;
  font-family: var(--font-geist-sans);
  font-weight: 500;
  font-size: 1.4rem;
}
.navigation__list {
  display: flex;
  gap: 2.4rem;
  height: 100%;
}
.navigation__item {
  background-color: white;
  height: 100%;
}
.navigation__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-height: 100%;
  height: 100%;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: #030612;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.navigation__link:hover {
  color: #71717a;
  border-bottom: 2px solid black;
}
.navigation__link--active {
  border-bottom: 2px solid black;
}
.navigation__search {
  display: flex;
  align-items: center;
  width: 100% !important;
}

.header {
  background-color: white;
  border-bottom: 1px solid rgba(41, 71, 163, 0.1294117647);
}
.header__wrapper {
  height: 6.7rem;
  font-family: var(--font-geist-mono);
  font-size: 1.4rem;
  color: #030612;
}
.header__top {
  max-width: 1480px;
  padding: 1rem 3rem 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.header__line {
  height: 0.1rem;
  margin: 1rem 0;
  background-color: rgb(71, 71, 71);
}
.header__bottom {
  padding: 0 3rem;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.7rem;
  gap: 1.7rem;
}
.header__actions {
  display: flex;
  gap: 1.7rem;
  height: 100%;
}
.header__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-height: 100%;
  height: 100%;
  color: #030612;
  border-bottom: 2px solid white;
}
.header__link:hover {
  border-bottom: 2px solid #030612;
}

.footer {
  background-color: #030612;
  color: white;
}
.footer__wrapper {
  max-width: 1480px;
  padding: 1.4rem 3rem;
  margin: 0 auto;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 20rem);
}
.auth-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 40rem;
  width: 100%;
  padding: 2.4rem;
  border-radius: 1.6rem;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  background-color: white;
}
.auth-form__header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2.4rem;
  text-align: start;
}
.auth-form__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.auth-form__credentials {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.auth-form__footer {
  display: flex;
  align-self: center;
  gap: 0.5rem;
  margin-top: 2.4rem;
}

.hero__sliders {
  display: grid;
  grid-template-columns: 95rem 1fr;
  gap: 2rem;
}

.swiper {
  max-width: 950px !important;
  width: 100% !important;
  max-height: 400px !important;
  height: auto;
  border-radius: 1.6rem;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
}
.swiper-button-prev, .swiper-button-next {
  width: 5rem !important;
  height: 7rem !important;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white !important;
  transform: scale(0.5);
}
.swiper-pagination-bullet-active {
  background-color: gray !important;
}

.carousel-card {
  position: relative;
}
.carousel-card__title {
  display: none;
}
.carousel-card__image {
  border-radius: 1.6rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-card__button {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  z-index: 1000;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
}
.carousel-card--secondary .carousel-card__title {
  display: unset;
}
.carousel-card--secondary .carousel-card__image {
  object-fit: unset;
}

.card {
  height: 100%;
}
.card__wrapper {
  height: 100%;
  padding: 3rem;
  border-radius: 1.6rem;
  background-color: white;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
}

.banner-card {
  position: relative;
}
.banner-card__title {
  display: none;
}
.banner-card__image {
  border-radius: 1.6rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-card__button {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  z-index: 1000;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
}

.promo-card__wrapper {
  height: 100%;
  padding: 2rem;
  border-radius: 1.6rem;
  background-color: white;
}
.promo-card__title {
  text-align: center;
  color: #030612;
}
.promo-card__image {
  display: flex;
  max-width: 25rem;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.promo-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.promo-card__price {
  font-weight: 700;
  color: white;
  background-color: red;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
}

.sidebar__wrapper {
  max-width: 20rem;
  width: 100%;
}
.sidebar__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #00b4b3;
  border-radius: 100rem;
  font-size: 2.8rem;
  color: white;
}
.sidebar__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sidebar__button {
  display: flex;
  gap: 1rem;
  padding: 0.7rem 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-family: var(--font-geist-sans);
  font-size: 1.4rem;
  font-weight: 400;
  color: #3f3f46;
  cursor: pointer;
}
.sidebar__button:hover {
  background-color: #f4f4f5;
  color: #030612;
}
.sidebar__button:focus {
  background-color: #f4f4f5;
  color: #030612;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-height: 3.7rem;
  padding: 1.15rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-family: var(--font-geist-sans);
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.button__loading {
  opacity: 0.5;
}
.button__icon {
  display: flex;
}
.button--default {
  color: white;
  background-color: #00b4b3;
}
.button--default:hover {
  opacity: 80%;
}
.button--dark {
  color: white;
  background-color: #030612;
}
.button--dark:hover {
  opacity: 80%;
}
.button--light {
  background-color: white;
  color: #71717a;
}
.button--light:hover {
  background-color: #f4f4f5;
}
.button--light:focus {
  background-color: #e4e4e7;
  color: #09090b;
}
.button--outlined {
  background-color: white;
  border: 1px solid #e5e7eb;
  color: #030612;
}
.button--outlined:hover {
  background-color: #f4f4f5;
}
.button--underlined {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: auto !important;
  text-underline-offset: 4px;
  text-decoration-line: underline;
  cursor: pointer;
}
.button--start {
  justify-content: flex-start;
}
.button--secondary {
  background-color: #ecedff;
  color: #7e90e4;
  font-weight: 600;
}
.button--secondary:hover {
  background-color: #dddefb;
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-button__email {
  font-family: var(--font-geist-sans);
  font-weight: 400;
  color: #8e91a0;
}

.logout__button {
  background-color: white;
  border: none;
  font-family: var(--font-geist-sans);
  font-size: 1.4rem;
  color: red;
  cursor: pointer;
}

.loading {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loading:before, .loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loading:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
.error-message {
  color: red;
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dropdownFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.dropdown {
  position: relative;
  width: 100%;
  font-family: var(--font-geist-sans);
  font-size: 1.4rem;
  font-weight: 400;
}
.dropdown__selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.05rem 1.3rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  background: white;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}
.dropdown__selected--open {
  border-width: 1px;
  border-color: #030612;
}
.dropdown__list {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  list-style: none;
  padding: 0.4rem;
  margin: 5px 0;
  z-index: 10;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  max-height: 20rem;
  overflow-y: scroll;
}
.dropdown__list--open {
  animation: dropdownFadeIn 0.15s ease-in-out forwards;
  pointer-events: auto;
}
.dropdown__list--closed {
  animation: dropdownFadeOut 0.15s ease-in-out forwards;
  pointer-events: none;
}
.dropdown__option {
  padding: 0.7rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  border-radius: 5px;
}
.dropdown__option:hover {
  background-color: #f4f4f5;
}

.datepicker-container {
  text-align: center;
  padding: 1.2rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  font-family: var(--font-geist-sans) !important;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.selected-day {
  color: #030612 !important;
  border-radius: 5px;
}

.selected-dates {
  font-family: var(--font-geist-sans);
  font-weight: 500;
  margin-top: 1rem;
}

.react-calendar {
  width: 100%;
  border-radius: 8px;
  border: none !important;
  overflow: hidden;
  font-family: var(--font-geist-sans) !important;
}
.react-calendar__navigation__label {
  border-radius: 1rem !important;
}
.react-calendar__navigation__label__labelText {
  font-family: var(--font-geist-sans) !important;
  border-radius: 1rem !important;
}
.react-calendar__navigation__arrow {
  border-radius: 1rem;
}
.react-calendar__month-view__days {
  border-radius: 1rem !important;
  overflow: hidden !important;
}
.react-calendar__tile {
  color: #030612;
  font-family: var(--font-geist-sans) !important;
}
.react-calendar__tile:focus {
  border-radius: 1rem !important;
}
.react-calendar__tile:hover {
  border-radius: 1rem !important;
}
.react-calendar__tile--active {
  background-color: #e4e4e7 !important;
  border-radius: 1rem !important;
}
.react-calendar__tile--rangeStart, .react-calendar__tile--rangeEnd {
  background-color: #7e90e4 !important;
  border-radius: 1rem !important;
  color: white !important;
}
.react-calendar__tile--now {
  background-color: orange !important;
  border-radius: 1rem;
  color: white !important;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  height: 3.7rem;
  width: 3.7rem;
  background-color: #00b4b3;
  border-radius: 100rem;
  transition: all 0.1s ease-in-out;
}
.avatar:hover {
  opacity: 80%;
  transition: all 0.1s ease-in-out;
}
.avatar__letter {
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
}

.text-muted {
  font-size: 1.4rem;
  font-weight: 400;
  color: #71717a;
}

.label {
  font-family: var(--font-geist-sans);
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.label--center {
  text-align: center;
}
.label--end {
  text-align: end;
}
.label--gray {
  color: #71717a;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.input__field {
  padding: 1.05rem 1.3rem;
  width: 100%;
  box-shadow: 0 4px 20px rgba(60, 70, 100, 0.1215686275);
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  font-family: var(--font-geist-sans);
  font-size: 1.4rem;
  font-weight: 400;
}
.input__field::placeholder {
  color: #a1a1aa;
}
.input__children {
  position: absolute;
  color: #a1a1aa;
  right: 1rem;
}

.file-upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.file-upload__preview {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.file-upload__input[type=file] {
  display: none;
}
.file-upload__delete {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border: none;
  border-radius: 100rem;
  background-color: #7e90e4;
  color: white;
  opacity: 90%;
  cursor: pointer;
}
.file-upload__delete:hover {
  background-color: #ecedff;
  color: #7e90e4;
}
.file-upload__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-upload__image-container:hover .file-upload__delete {
  display: flex;
}
.file-upload__image {
  max-width: 20rem;
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 1.6rem;
}
.file-upload__buttons {
  display: flex;
  gap: 2rem;
}
.file-upload__clear {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-height: 4.1rem;
  padding: 1.15rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-family: var(--font-geist-sans);
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  background-color: #ecedff;
  color: #7e90e4;
  font-weight: 600;
}
.file-upload__clear:hover {
  background-color: #dddefb;
}
.file-upload__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-height: 4.1rem;
  padding: 1.15rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-family: var(--font-geist-sans);
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  color: white;
  background-color: #7e90e4;
}
.file-upload__button:hover {
  opacity: 80%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.logo {
  font-family: var(--font-geist-mono);
  font-weight: 700;
  font-size: 1.8rem;
  color: #00b4b3;
}
.logo__image {
  height: 3rem;
  width: 10rem;
}

.badge {
  width: min-content;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
}
.badge--dark {
  background-color: #030612;
}
.badge--sell {
  background-color: red;
}
.badge--light {
  background-color: white;
}
.badge--light .badge__text {
  color: #030612;
}
.badge--rent {
  background-color: #7e90e4;
}
.badge__text {
  font-size: 14px;
  color: white;
}

.section-with-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}/*# sourceMappingURL=main.css.map */