.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--gilroy {
    font-family: $font-gilroy;
  }

  &--geist {
    font-family: $font-geist-sans;
  }
}

h2 {
  font-weight: 700;
}

h5 {
  font-size: 1.7rem;
  color: $base-dark-color;
  margin-bottom: 1rem;
}
