.empty-card {
  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: $border-radius-card;
    border: $border-primary;
  }
}
